@use 'variaveis' as *;

// estilos base do botão
.btn {
    padding: .7rem 2rem;
    border-radius: $border-radius-base-01;
    font-size: $font-size-base;
    border: none;
    cursor: pointer;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 100%;
    max-width: 200px;
}

.btn--primary {
    @extend .btn;
    background-color: $color-secondary;
    color: $color-dark;

    &:hover,
    &:active {
        background-color: $color-primary;
        color: $color-white;
    }
}

.btn--secondary {
    @extend .btn;
    background-color: $color-primary;
    color: $color-white;

    &:hover,
    &:active {
        background-color: $color-dark;
        color: $color-white;
    }
}