@use "./variaveis" as *;

@mixin container($max: $breakpoint-xxl) {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;

    @media (min-width: $breakpoint-sm) {
        max-width: 540px;
    }

    @media (min-width: $breakpoint-md) {
        max-width: 720px;
    }

    @media (min-width: $breakpoint-lg) {
        max-width: 960px;
    }

    @media (min-width: $breakpoint-xl) {
        max-width: if($max >=$breakpoint-xl, $breakpoint-xl, $max);
    }

    @media (min-width: $breakpoint-xxl) {
        max-width: if($max >=$breakpoint-xxl, $breakpoint-xxl, $max);
    }
}