@use "./variaveis" as *;

.container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem .625rem;
    max-width: 100%;

    @media (min-width: $breakpoint-sm) {
        max-width: 540px;
    }

    @media (min-width: $breakpoint-md) {
        max-width: 720px;
    }

    @media (min-width: $breakpoint-lg) {
        max-width: 960px;
    }

    @media (min-width: $breakpoint-xl) {
        max-width: $breakpoint-xl;
    }

    @media (min-width: $breakpoint-xxl) {
        max-width: $breakpoint-xxl;
    }
}