// Cores
$color-primary: #3019B2;
$color-secondary: #F7CA11;
$color-roxo: #271C47;
$color-grey: #6B7280;
$color-grey-01: #3F3F40;
$color-grey-02: #676767;
$color-grey-03: #BDBDBD;
$color-dark: #000;
$color-dark-01: #3b3b3b;
$color-white: #fff;
$color-light: #F6F5F2;
$color-light-01: #F0F0F0;
$color-light-02: #F4F4F4;

// Tipografia
$font-family-base: 'Poppins', system-ui, -apple-system, Arial, sans-serif;


// Tamanhos de fontes
$font-size-base: 1rem;
$font-size-base-01: .75rem;
$font-size-h1: 3rem;
$font-size-h2: 1.5rem;

// Espaçamento
$spacing-md: 16px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1160px;
$breakpoint-xxl: 1364px;

/* Border radius */
$border-radius-base: 10px;
$border-radius-base-01: 5px;